In [10]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
#import pandas_datareader as web
import datetime as dt
#import seaborn as sns

In [11]:
data_path = '/home/nghia/Work/code/DBM301/Exercise/data/annual-enterprise-survey-2021-financial-year-provisional-csv_Preprocessing.csv'
df = pd.read_csv(data_path)
df.head(5)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,Unnamed: 10
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...,NaN
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...,NaN
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...,NaN
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...,NaN
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41715 entries, 0 to 41714
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         41715 non-null  int64
 1   Industry_aggregation_NZSIOC  41715 non-null  object
 2   Industry_code_NZSIOC         41715 non-null  object
 3   Industry_name_NZSIOC         41715 non-null  object
 4   Units                        41715 non-null  object
 5   Variable_code                41715 non-null  object
 6   Variable_name                41715 non-null  object
 7   Variable_category            41715 non-null  object
 8   Value                        41715 non-null  object
 9   Industry_code_ANZSIC06       41715 non-null  object
 10  Unnamed: 10                  12 non-null     float64
dtypes: float64(1), int64(1), object(9)
memory usage: 3.5+ MB

In [13]:
def preprocess(x):
    try:
        return float(x.replace(',',''))
    except:
        -1

df['new_Value'] = df["Value"].apply(lambda x: preprocess(x))

In [15]:
data = df[(df["new_Value"] <= 0)]
data

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,Unnamed: 10,new_Value
25,2021,Level 1,99999,All industries,Dollars,H35,Surplus per employee count,Financial ratios,-1,ANZSIC06 divisions A-S (excluding classes K633...,NaN,-1.0
71,2021,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H13,Redundancy and severance,Financial performance,0,"ANZSIC06 groups A011, A012, and A013",NaN,0.0
77,2021,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H24,Total assets,Financial position,-1,"ANZSIC06 groups A011, A012, and A013",NaN,-1.0
101,2021,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H13,Redundancy and severance,Financial performance,0,"ANZSIC06 groups A011, A012, and A013",NaN,0.0
131,2021,Level 3,AA12,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H13,Redundancy and severance,Financial performance,0,ANZSIC06 groups A014 and A015,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
41310,2013,Level 4,QQ111,Hospitals,Dollars (millions),H13,Redundancy and severance,Financial performance,0,ANZSIC06 group Q840,NaN,0.0
41464,2013,Level 4,RS111,Heritage and Artistic Activities,Dollars (millions),H13,Redundancy and severance,Financial performance,0,"ANZSIC06 groups R891, R892, and R900",NaN,0.0
41496,2013,Level 4,RS112,Sport and Recreation Activities,Dollars (millions),H13,Redundancy and severance,Financial performance,0,"ANZSIC06 groups R911, R912, and R913",NaN,0.0
41592,2013,Level 4,RS211,Repair and Maintenance,Dollars (millions),H13,Redundancy and severance,Financial performance,0,"ANZSIC06 groups S941, S942, and S949",NaN,0.0
41624,2013,Level 4,RS212,"Personal Care, Funeral and Other Personal Serv...",Dollars (millions),H13,Redundancy and severance,Financial performance,0,"ANZSIC06 groups S951, S952, and S953",NaN,0.0